.container{
    margin-top: 8%;
}

.card{
    overflow: hidden;
}

.card img{
    transition: all 1.5s ease;
}

.card:hover img{
    transform: scale(1.1);
}

.btn:hover{
    color: white;
    background-color: #ecf8f8;
}